{name, "socketio"}.
{authors, ["Yurii Rashkovskii <yrashk@gmail.com>", "Omar Yasin <omar@kodiak.is>", "Fred Hebert <mononcqc@gmail.com>"]}.
{description, "Socket.IO server in Erlang"}.
{homepage, "http://socket.io"}.
{build_command, "make"}.
{url, {git, "https://github.com/yrashk/socket.io-erlang.git", {branch, "master"}}}.
{code_paths, ["ebin","deps/jsx/ebin","deps/jsx/deps/nicefloats/ebin","deps/ossp_uuid/ebin","deps/misultin/ebin","deps/ex_uri/ebin","deps/ex_uri/deps/abnfc/ebin"]}.
{applications, [socketio]}.
